%h1 Listing product_reports

%table
  %thead
    %tr
      %th Product
      %th Customer
      %th Content
      %th
      %th
      %th

  %tbody
    - @product_reports.each do |product_report|
      %tr
        %td= product_report.product_link
        %td= product_report.customer_link
        %td= product_report.content
        %td= link_to 'Show', product_report
        %td= link_to 'Edit', edit_product_report_path(product_report)
        %td= link_to 'Destroy', product_report, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product report', new_product_report_path
