.container-fluid.pad-edge
  %h1.pt-5 Listing Product Reports

  %table.table
    %thead
      %tr
        %th Product
        %th Customer
        %th Content
        %th
        %th

    %tbody
      - @product_reports.each do |product_report|
        %tr
          - decorated_product_report = product_report.decorate
          %td= decorated_product_report.product_link
          %td= decorated_product_report.user_link
          %td= decorated_product_report.content
          - if can?(:read, product_report)
            %td= link_to 'Show', product_report
          - if can?(:destroy, product_report)
            %td= link_to 'Destroy', product_report, :method => :delete, :data => { :confirm => 'Are you sure?' }
.justify-content-center.pagination.mb-5
  = will_paginate(@product_reports, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)
