.container{ id: "#{elem_id}-stat", style: 'width: 20%;' }
  .container.d-inline-block.text-center
    %h2.d-inline-block.align-middle= "#{statistic}#{statistic_unit}"
  .container.text-center
    = description