- content_for :title, "#{@business.name}'s Dashboard"
= include_gon
= additional_javascript('businesses')

.container-fluid.pad-edge
  %h1.pt-5= "#{@business.name}'s Dashboard"

.container-fluid.p-0.m-0
  .row.mx-5.my-3.px-lg-5.align-content-around.border-top.border-bottom
    = render 'stat_bar_item', elem_id: 'total-views', statistic: @business.total_product_views, statistic_unit: '', description: 'Total Product Views'
    = render 'stat_bar_item', elem_id: 'customer-purchases', statistic: @business.customer_purchases, statistic_unit: '', description: 'Customer Purchases'
    = render 'stat_bar_item', elem_id: 'affiliate-products', statistic: @business.products.size, statistic_unit: '', description: 'Affiliate Products'
    = render 'stat_bar_item', elem_id: 'unique-categories', statistic: @business.unique_product_categories, statistic_unit: '', description: 'Unique Categories'

  .row.m-3.bg-light-green
    .col-xl-7
      %ul.nav.nav-tabs.mb-2
        %li.active
          = link_to 'Total Product Views', '#total-product-views-tab', { 'data-toggle': 'tab', class: 'btn', id: 'open-total-product-views-tab' }
        %li
          = link_to 'Views By Product', '#product-views-tab', { 'data-toggle': 'tab', class: 'btn', id: 'open-product-views-tab' }
        %li
          = link_to 'Views By Category', '#category-views-tab', { 'data-toggle': 'tab', class: 'btn', id: 'open-category-views-tab' }

      .container-fluid.tab-content
        .container-fluid.tab-pane.active#total-product-views-tab
          %h2.d-inline Total Product Views
          = line_chart time_product_views_chart_path, id: 'total-product-views-graph', ytitle: 'Product Views', xtitle: 'Day'

        .container-fluid.tab-pane.mb-2#product-views-tab
          %h2.d-inline Views By Product
          = bar_chart views_by_product_chart_path, id: 'product-views-graph', ytitle: 'Product', xtitle: 'Views'

        .container-fluid.tab-pane#category-views-tab
          %h2.d-inline Views By Category
          = bar_chart views_by_category_chart_path, id: 'category-views-graph', ytitle: 'Category', xtitle: 'Views'

    .col-xl-5
      %h2.py-2 Affiliate Products
      .container.px-0.mx-0.h-100.overflow-scroll
        = render partial: 'product', collection: @business.products