.container-fluid.pad-edge

  .pt-5
    .text-center 
      - if @business.avatar.attached?
        = image_tag @business.avatar.variant(resize: "100x100!")
      %h1 
        = @business.name
      %p 
        = @business.description

  .products.row
    - @products.each do |product|
      = render partial: 'suggested_product_card', locals: {p: product.decorate}
  
  %br

  .justify-content-center.pagination.mb-5
    = will_paginate(@products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)

