.container-fluid.pad-edge

  .pt-5

    .d-flex
      - if @business.avatar.attached?
        = image_tag @business.avatar.variant(resize: "100x100!")
      .px-2
        %h1
          = @business.name
        %h2
          = @business.truncated_description


    .row.my-5.px-lg-5.align-content-around.border-top.border-bottom
      = render 'stat_bar_item', elem_id: 'total-views', statistic: @business.total_product_views, statistic_unit: '', description: 'Total Product Views'
      = render 'stat_bar_item', elem_id: 'customer-purchases', statistic: @business.customer_purchases, statistic_unit: '', description: 'Customer Purchases'
      = render 'stat_bar_item', elem_id: 'affiliate-products', statistic: @business.products.size, statistic_unit: '', description: 'Affiliate Products'
      = render 'stat_bar_item', elem_id: 'unique-categories', statistic: @business.unique_product_categories, statistic_unit: '', description: 'Unique Categories'

  .products.row
    - @products.each do |product|
      = render partial: 'suggested_product_card', locals: {p: product.decorate}
  
  %br

  .justify-content-center.pagination.mb-5
    = will_paginate(@products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)

