= simple_form_for @business, url: admin_business_path do |f|
  .modal-header
    %h2= "Editing #{@business.name}"
    = link_to 'Back', admin_users_path
  .modal-body
    .card-body
      .email= f.input :email, validate: true, id: 'email', type: 'email'
    .card-body
      .email= f.input :name, validate: true, id: 'name', type: 'text'
    .card-body
      .email= f.input :description, validate: true, id: 'description', type: 'text'
  .modal-footer
    .pull-left

    = f.button :submit, method: :update , id:'submit_button' , class: 'btn btn-outline-dark'

= link_to 'Delete Business', admin_business_path(@business), method: :delete, data: { confirm: 'Are you sure you want to delete this business?' }