-# frozen_string_literal: true
= simple_form_for(@faq) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :question, :label_html => { :class => 'h4' }

  .form-actions.input-group.my-3
    = f.submit "Submit Question", :class => "btn btn-ecommerce"
    = link_to 'Back', faqs_path, :class => "btn btn-secondary mx-2"
