-# frozen_string_literal: true
= simple_form_for(@faq) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :question
    = f.input :answer
    = f.input :clicks
    = f.input :hidden
    = f.input :usefulness

  .form-actions
    = f.button :submit
