.container-fluid.pad-edge
  %p.h4.pt-5
    Question
  %p
    = @faq.question
  %hr
  %p.h4
    Answer
  %p
    = @faq.answer
  %hr
  %p
    %b Popularity:
    = @faq.clicks 
    Clicks 
    \|
    %b Rating:
    = @faq.faq_vote.sum(:value)
    - if can? :edit, @faq then
      ="(+"+@faq.faq_vote.where(value: 1).count.to_s + ",-" + @faq.faq_vote.where(value: -1).count.to_s + ")"
      \|
      %b Hidden:
      = @faq.hidden

  .btn-group.my-auto{:role => "group"}
    - if can? :edit, @faq then
      = link_to 'Edit', edit_faq_path(@faq), :class => "btn btn-secondary"
    - if can? :answer, @faq then
      = link_to 'Answer', answer_faq_path(@faq), :class => "btn btn-secondary"
    = link_to 'Back', faqs_path, :class => "btn btn-primary"
