-# frozen_string_literal: true
= simple_form_for(@newsletter) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .row.justify-content-center.m-4
    .col-5
      .input-group
        = f.input_field :email, :class => "form-control", :placeholder => "name@example.co.uk"
        = f.submit "Register Interest", :class => "btn btn-primary"
