- content_for :title, "Newsletters"

.container-fluid.pad-edge

  %h1.pt-5 Listing Newsletters

  %table
    %thead
      %tr
        %th Email
        %th Longitude
        %th Latitude
        %th
        %th
        %th

    %tbody
      - @newsletters.each do |newsletter|
        %tr
          %td= newsletter.email
          %td= newsletter.longitude
          %td= newsletter.latitude
          %td= link_to 'Show', newsletter
          %td= link_to 'Edit', edit_newsletter_path(newsletter)
          %td= link_to 'Destroy', newsletter, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Newsletter', new_newsletter_path
