%p#notice= notice

.container
  %p
    %b Email:
    = @newsletter.email
  %p
    %b Vocation:
    = @newsletter.vocation

  = link_to 'Edit', edit_newsletter_path(@newsletter)
  \|
  = link_to 'Back', newsletters_path
