.row
  #products-barchart-div.justify-content-center.col-xl-6
    .card.bg-light.my-3
      .card-header
        %h2#products-barchart-title.text-center Product Additions By Category (Total: #{@products.size})
      .card-body
        = bar_chart product_categories_chart_path, id: 'products-barchart-plot', ytitle: 'Category', xtitle: 'Additions', title: 'Top 30 Most Popular Categories'

  #products-linechart-div.justify-content-center.col-xl-6
    .card.bg-light.my-3
      .card-header
        %h2#products-linechart-title.text-center Product Additions Over Time
      .card-body
        = line_chart time_product_additions_chart_path, id: 'products-linechart-plot', ytitle: 'Additions', xtitle: 'Day', title: 'Product Additions Over the Last Month'

  #products-barchart-div.justify-content-center.col-xl-6
    .card.bg-light.my-3
      .card-header
        %h2#affiliates-barchart-title.text-center Affiliate Product Additions By Category (Total: #{@affiliate_products.size})
      .card-body
        = bar_chart affiliate_categories_chart_path, id: 'affiliates-barchart-plot', ytitle: 'Category', xtitle: 'Additions', title: 'Top 30 Most Popular Affiliate Categories'

  #affiliate-views-linechart-div.justify-content-center.col-xl-6
    .card.bg-light.my-3
      .card-header
        %h2#affiliate-views-linechart-title.text-center Affiliate Product Views Over Time (Total: #{@affiliate_views.size})
      .card-body
        = line_chart time_affiliate_views_chart_path, id: 'affiliate-views-linechart-plot', ytitle: 'Views', xtitle: 'Day', title: 'Affiliate Product Views Over the Last Month'