- content_for :title, "Team 4 - Site metrics"
= include_gon
= javascript_pack_tag('metrics/index')

.container-fluid.pad-edge
  .pt-5
    .h1 Metrics Summary

.row.vw-75.m-3
  #visits-barchart-div.justify-content-center.bg-light-green.col-6
    %h2#visits-barchart-title.text-center Site Visits by Page
    %svg#visits-barchart-plot.d-block.m-auto

  #visits-linechart-div.justify-content-center.bg-light-green.col-6
    %h2#visits-linechart-title.text-center Landing Page Visits Over Time
    %svg#visits-linechart-plot.d-block.m-auto
.row.vw-75.m-3
  #registrations-barchart-div.justify-content-center.bg-light-green.col-6
    %h2#registrations-barchart-title.text-center Site Registrations by Vocation
    %svg#registrations-barchart-plot.d-block.m-auto

  #registrations-linechart-div.justify-content-center.bg-light-green.col-6
    %h2#registrations-linechart-title.text-center Site Registrations Over Time
    %svg#registrations-linechart-plot.d-block.m-auto



.container-fluid.pad-edge
  .pt-5
    %table.table
      %thead
        %tr
          %th Page visited
          %th Date of visit
          %th Location

      %tbody

      - @metrics.each do |metric|
        %tr
          %td= metric.path
          %td= metric.from
          %td= metric.location
        -# %td= link_to 'Show', product
        -# %td= link_to 'Edit', edit_product_path(product)
        -# %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }


