- content_for :title, "Team 4 - Site metrics"
= include_gon
= javascript_pack_tag('metrics/index')

.container-fluid.pad-edge
  .pt-5
    .h1 Metrics Summary


.row.m-3
  %h1.m-3.text-center Visitor Statistics
  #visits-barchart-div.justify-content-center.bg-light-green.col-xl-6
    %h2#visits-barchart-title.text-center Site Visits by Page (Total: #{@visits.size})
    %svg#visits-barchart-plot.d-block.m-auto

  #visits-linechart-div.justify-content-center.bg-light-green.col-xl-6
    %h2#visits-linechart-title.text-center Landing Page Visits Over Time
    %svg#visits-linechart-plot.d-block.m-auto

.row.m-3
  %h1.mt-5.mb-3.text-center Visitor Geography Statistics
  #visits-geochart-div.justify-content-center.bg-light-green.col-xl-6
    %svg#visits-geo-plot.d-block.m-auto{width: "500px", height: "800px"}

  #registrations-geo-div.justify-content-center.bg-light-green.col-xl-6
    %h2#registrations-geo-title.text-center Site Registrations By UK County
    .container
      %table#registrations-geo-table.table.w-75.m-5.d-block.overflow-scroll{'height': '600px'}
        %thead
          %tr
            %th County
            %th Visitors
        %tbody#county-visits-list

.row.m-3
  %h1.mt-5.mb-3.text-center Registration Statistics
  #registrations-barchart-div.justify-content-center.bg-light-green.col-xl-6
    %h2#registrations-barchart-title.text-center Site Registrations by Vocation (Total: #{@registrations.size})
    %svg#registrations-barchart-plot.d-block.m-auto

  #registrations-linechart-div.justify-content-center.bg-light-green.col-xl-6
    %h2#registrations-linechart-title.text-center Site Registrations Over Time
    %svg#registrations-linechart-plot.d-block.m-auto

.row.m-3
  #registrations-by-type-barchart-div.justify-content-center.bg-light-green.col-xl-12
    %h2#registrations-by-type-barchart-title.text-center Registrations By Pricing Plan
    %svg#registrations-by-type-barchart-plot.d-block.m-auto

.row.m-3
  %h1.mt-5.mb-3.text-center Registration Geography Statistics
  #registrations-geochart-div.justify-content-center.bg-light-green.col-xl-6
    %svg#registrations-geo-plot.d-block.m-auto{width: "500px", height: "800px"}

  #registrations-geo-div.justify-content-center.bg-light-green.col-xl-6
    %h2#registrations-geo-title.text-center Site Registrations By UK County
    .container
      %table#registrations-geo-table.table.w-75.m-5.d-block.overflow-scroll{'height': '600px'}
        %thead
          %tr
            %th County
            %th Registrations
        %tbody#county-registrations-list

.row.m-3
  #feature-interest-div.justify-content-center.bg-light-green.col-xl-6
    %h2#feature-interest-barchart-title.text-center Clicks By Feature (Total: #{@features.size})
    %svg#feature-interest-barchart-plot.d-block.m-auto

  #feature-shares-div.justify-content-center.bg-light-green.col-xl-6
    %h2#feature-shares-barchart-title.text-center Shares By Feature (Total: #{@features.size})
    %svg#feature-shares-barchart-plot.d-block.m-auto

#flow-report-div.justify-content-center.bg-light-green.m-3
  %h2#flow-report-title.text-center User Flow Report (This will be made to look better dw)
  .row.m-3
    .container.col-xl-4.overflow-scroll
      %table#registrations-geo-table.table.d-block.overflow-scroll{'height': '600px'}
        %thead
          %tr
            %th Registered?
            %th Session
        %tbody#sessions-list

    .container.col-xl-8.overflow-scroll
      %table#registrations-geo-table.table.d-block.overflow-scroll{'height': '600px'}
        %thead
          %tr
            %th State
            %th Page
            %th Time Spent

        %tbody#flow-list

  %svg#flow-report-plot.d-block.m-auto.col-xl-12


