- content_for :title, "Metrics Summary"
= include_gon
= additional_javascript('metrics')

.container-fluid.pad-edge
  %h1.pt-5 Metrics Summary

.container-fluid.p-0.m-0
  .container-fluid.pad-edge
    %ul.nav.nav-tabs.mb-2
      %li.active
        = link_to 'Product', '#product-metrics-tab', { 'data-toggle': 'tab', class: 'btn', id: 'open-product-metrics-tab' }
      %li
        = link_to 'Visitor', '#visitor-metrics-tab', { 'data-toggle': 'tab', class: 'btn', id: 'open-visitor-metrics-tab' }
      %li
        = link_to 'Registration', '#registration-metrics-tab', { 'data-toggle': 'tab', class: 'btn', id: 'open-registration-metrics-tab' }
      %li
        = link_to 'Shares', '#shares-metrics-tab', { 'data-toggle': 'tab', class: 'btn', id: 'open-shares-metrics-tab' }

  .container-fluid.tab-content
    .container-fluid.tab-pane.active#product-metrics-tab
      = render partial: 'products_tab'

    .container-fluid.tab-pane#visitor-metrics-tab
      = render partial: 'visitors_tab'

    .container-fluid.tab-pane#registration-metrics-tab
      = render partial: 'registrations_tab'

    .container-fluid.tab-pane#shares-metrics-tab
      = render partial: 'shares_tab'