= form_for :user do |f|
    = f.label :email, "Email:"
    = f.text_field :email

    = f.label :password, "Password"
    = f.text_field :password

    = f.label :password_confirmation, "Confirm Password"
    = f.text_field :password_confirmation

    = f.label :role, "Select user role"
    = f.select :role, ['admin', 'reporter', 'customer']

    = f.submit