- content_for :title, "Home"
= additional_javascript('home')

.container-fluid#banner

  %br
  .row.pad-edge#main_page.align-self-center
    .row
      .row.align-self-center.h-100
        .col-8
          .row.h-100.align-content-center.image_overlay_font
            .h1
              Welcome to 
              %bold ecommerce
            .h4.fst-italic The only ecommerce website with the environment as its number 1 priority
            - if !current_customer
              .row.bg-transparent 
                .col.text-end
                  #btn-left.btn-custom.clearfix
                    = link_to 'Sign up', new_customer_registration_path, method: :get
                .col
                  #btn-right.btn-custom.clearfix
                    = link_to 'Sign In', new_customer_session_path, method: :get
            - else
              .row.bg-transparent
                .col.text-end
                  #btn-left.btn-custom.clearfix
                    = link_to 'Your dashboard', current_customer
                .col
                  #btn-right.btn-custom.clearfix
                    = link_to 'Browse products', categories_path
            .row.w-100.mt-3.text-center
              %button.btn#scroll_down{href: '#next'}
                .p.small Find out more
                .fa.fa-chevron-down.pulse
        .col-4.d-flex.flex-column.text-end.pt-5
          .row.image_overlay_font.text-white#total_co2_saved
            %a.font-large.disable_link{href: '#', "data-bs-content" => "This is equivalent to #{CustomerMetrics.plane_journeys_saved} flights London to New York!", "data-toggle" => "popover", 'data-bs-trigger'=>'hover'}
              .d-flex.flex-no-wrap= CustomerMetrics.site_total_co2_saved
              .small Kg of CO2
            .text-center
              %strong.fst-italic ...saved by users on our platform!
          .row

  
  .row.transition-wrapper.bg-transparent.offset-top-y
    .custom-shape-divider-top-1637446340
      %svg{"data-name" => "Layer 1", :preserveaspectratio => "none", :viewbox => "0 0 1200 120", :xmlns => "http://www.w3.org/2000/svg"}
        %path.shape-fill{:d => "M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z", :opacity => ".25"}
        %path.shape-fill{:d => "M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z", :opacity => ".5"}
        %path.shape-fill{:d => "M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"}
    .custom-shape-divider-bottom-1637446340
      %svg{"data-name" => "Layer 1", :preserveaspectratio => "none", :viewbox => "0 0 1200 120", :xmlns => "http://www.w3.org/2000/svg"}
        %path.shape-fill{:d => "M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z", :opacity => ".25"}
        %path.shape-fill{:d => "M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z", :opacity => ".5"}
        %path.shape-fill{:d => "M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"}
    .col-lg.bg-segment.pad-vertically
      .row.text-white.pad-edge.segment-font
        .text-center.w-75.mx-auto.pb-5
          .h1 Why ecommerce?
          .h2.p-4
            Shopping online can increase CO
            %sub 2
            emissions when items are transported long distances.
          .h3.pb-3 Why is this a problem?
          .p.pb-3 Whilst the convenience of online shopping cannot be denied, we need to start thinking more carefully about the impact that it is having on the world. A major contributor to global warming is international freight which currently accounts for 7% of all global CO2 emissions. This doesn’t sound like much, but by 2050 this contribution is projected to have grown four-fold.
          .h3.pb-2 So what can we do about this?
          .p.pb-3 It’s a very difficult problem to solve as a consumer as retailers do not provide enough information about where their suppliers are based. That’s where we come in.
          .h3 What is the solution?
          .p.pb-3 Our product is an ecommerce website designed to reduce shipping distances and non eco-friendly materials usage by suggesting more environmentally friendly alternatives whilst you’re browsing. Creating an account provides a web interface where you can see summaries of your purchase habits, including how much you’ve contributed through use of our product.
          .h3.pb-2 Why is the solution a good solution?
          .p We know it’s not as simple as redirecting traffic to alternative retailers. That’s why we ensure all our eco-approved suppliers conform to ISO 14000. Not only this, but we ask all affiliates to provide us with information about where they manufacture their products. We also know that life is busy and finding the time and energy to solve a problem that seems far off in the distance can be a challenge. That’s why we’ve made it as easy as possible to use. Simply download and install the browser extension, do your shopping as normal, and alternative suggestions will be one click away!

  #features-links.row.text-feldgrau.text-center.pad-edge.pb-3
    #fb-root.col-lg.m-autoA#carbon-footprint-feature
      .m-auto.card-transparent{:style => "width: 75%;"}
        %img.card-img-top{:alt => "...", :src => "images/image-business.svg"}/
        .card-body.carbon-footprint-feature
          %a{ :href => carbon_footprint_viewer_url, :aria-label => "Share feature: Carbon Footprint Viewier" }
            .h3.card-title.featureName Carbon Footprint Viewer
          %p.card-text Subscribers can view an estimate of their online carbon footprint, helping them to understand their impact.
          //divs necessary for JS to fill fields and redirect properly
          .div
            .div
              = render 'layouts/share_icons'
    .col-lg.m-auto 
      .m-auto.card-transparent{:style => "width: 75%;"}
        %img.card-img-top{:alt => "...", :src => "images/image-customer.svg" }/
        .card-body
          %a{ :href => extension_features_url, :aria-label => "Share feature: Browser Extension"}
            .h3.card-title.featureName Browse Products
          %p.card-text Get eco-friendly product alternatives at the click of a button when shopping online.
          //divs necessary for JS to fill fields and redirect properly
          .div
            .div
              = render 'layouts/share_icons'
    .col-lg.m-auto
      .m-auto.card-transparent{ :style => "width: 75%;" }
        %img.card-img-top{:alt => "...", :src => "Volunteering-bro.png" }/
        .card-body
          %a{ :href => crowdsourced_feature_url, :aria-label => "Share feature: Crowdsourced Data"}
            .h3.card-title.featureName Crowdsourced Data
          %p.card-text The data is collected thanks to you! This means a constantly updated database and a lot of options to choose from!
          //divs necessary for JS to fill fields and redirect properly
          .div
            .div
              = render 'layouts/share_icons'

  .row.text-center.text-feldgrau.py-5.grabber
    %h2 Tell us what you think!
    %p
    = button_to "Leave A Review", new_review_path, method: :get
    %p
    %p
    %p
    %p
    %p
    %h2 Top Customer Reviews
    %p
    %p
    %p
    %table.table
      %tbody
        - @reviews.each_with_index do |review, i|
          %tr{:style => "display: inline-block; width:65%;background: #E1E7E5;"}
            %td{:style => "display: inline-block", 'id': "review-#{i}"}= "\"#{review.truncated_description}\""
          %tr{:height => "90px", :style => "border-color: #f8f9fa"}
            %td= link_to "Rate it useful", review_usefulness_path(id: review.id), class: 'css_class', style: 'font-size:90%; color:#419967; border:none'