- content_for :title, "Team 4 - Pricing plans"

#fb-root
%script{:async => "", :crossorigin => "anonymous", :defer => "defer", :nonce => "04pcKjuC", :src => "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0"}
%script{:src => "https://platform.linkedin.com/in.js", :type => "text/javascript"}
  :cdata
    lang: en_US
%script{"data-url" => "https://www.linkedin.com", :type => "IN/Share"}
.container-fluid
  .row.text-center.text-feldgrau.grabber.pt-5
    %h4 
      %span.highlight-dyk Did you know?
      By 2050, global freight will account for over a quarter of the world's carbon footprint?

    %h1
      Join us today, and
      %span.highlight-text change
      the world.
  .row 
    #generic_price_table
      %section
        .container
          .row
            .col-md-12
              / PRICE HEADING START
              .price-heading.clearfix
                %h1 Our plans
              / //PRICE HEADING END
        .container
          / BLOCK ROW START
          .row
            .col-md-4
              / PRICE CONTENT START
              .generic_content.clearfix
                / HEAD PRICE DETAIL START
                .generic_head_price.clearfix
                  / HEAD CONTENT START
                  .generic_head_content.clearfix
                    / HEAD START
                    .head_bg
                    .head
                      %span FREE
                    / //HEAD END
                  / //HEAD CONTENT END
                  / PRICE START
                  .generic_price_tag.clearfix.height-fix.pt-3
                    %span.price
                      %span.sign £
                      %span.currency 0
                      %span.cent .00
                      %span.month /MONTH
                  / //PRICE END
                / //HEAD PRICE DETAIL END
                / FEATURE LIST START
                
                .generic_feature_list
                  %ul#accordionFree.accordion
                    %li
                    
                      #headingOne.featureName.unlimited-suggestions
                        %span Unlimited 
                        suggestions
                        %button.btn{"aria-controls" => "collapseFree_1", "aria-expanded" => "true", "data-target" => "#collapseFree_1", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapseFree_1.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionFree"}
                        .card-body
                          %h5= 'Browse your shopping like you normally do'
                          %h5= 'Find what you like'
                          %h5= 'Get greener alternatives suggested to you!'
                          = render 'share_icons'

                    %li 
                      #headingOne.featureName.one-click-visit-retailer
                        %span One-click
                        Visit retailer
                        %button.btn{"aria-controls" => "collapseFree_2", "aria-expanded" => "true", "data-target" => "#collapseFree_2", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus
                      #collapseFree_2.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionFree"}
                        .card-body
                          %h5= 'Once a suggestion appears you just have to click on the banner'
                          %h5= 'You will automatically be brought to the product page '
                          %h5= 'From there you\'ll be able to complete your purchase '
                          = render 'share_icons'
                    %li
                      %span#headingOne{:disabled => true}
                        No
                      purchase history
                    %li
                      %span#headingOne{:disabled => true}
                        No
                      carbon footprint viewer
                    %li.disabled
                      #headingOne.featureName.support-24-7
                        %span 24/7
                        Support
                        %button.btn{"aria-controls" => "collapseFree_3", "aria-expanded" => "true", "data-target" => "#collapseFree_3", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus
                      #collapseFree_3.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionFree"}
                        .card-body
                          %h5= 'Live chat available 24/7 (maybe a bot?)'
                          = render 'share_icons'
                    
                / //FEATURE LIST END
                / BUTTON START
                .generic_price_btn.clearfix
                  = link_to 'Sign up', new_newsletter_path(@newsletters, :type => "Customer", :tier => "Free"), id: 'free'
                / //BUTTON END
              / //PRICE CONTENT END
            .col-md-4
              / PRICE CONTENT START
              .generic_content.clearfix
                / HEAD PRICE DETAIL START
                .generic_head_price.clearfix
                  / HEAD CONTENT START
                  .generic_head_content.clearfix
                    / HEAD START
                    .head_bg
                    .head
                      %span Solo
                    / //HEAD END
                  / //HEAD CONTENT END
                  / PRICE START
                  .generic_price_tag.clearfix.height-fix.pt-3
                    %span.price
                      %span.sign £
                      %span.currency 4
                      %span.cent .99
                      %span.month /MONTH
                  / //PRICE END
                / //HEAD PRICE DETAIL END
                / FEATURE LIST START
                .generic_feature_list
                  %ul#accordionMid.accordion
                    %li
                      #headingOne.featureName.unlimited-suggestions
                        %span Unlimited
                        suggestions
                        %button.btn{"aria-controls" => "collapseFive_1", "aria-expanded" => "true", "data-target" => "#collapseFive_1", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapseFive_1.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionMid"}
                        .card-body
                          %h5= 'Browse your shopping like you normally do'
                          %h5= 'Find what you like'
                          %h5= 'Get greener alternatives suggested to you!'
                          = render 'share_icons'
                    %li
                      #headingOne.featureName.one-click-access
                        %span One-click
                        access
                        %button.btn{"aria-controls" => "collapseFive_2", "aria-expanded" => "true", "data-target" => "#collapseFive_2", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapseFive_2.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionMid"}
                        .card-body
                          %h5= 'Purchase directly from our website'
                          %h5= 'No hassle creating accounts'
                          %h5= 'Automatically track your shopping trends and environmental impact'
                          = render 'share_icons'
                    %li
                      #headingOne.featureName.view-purchase-history
                        %span View
                        purchase history
                        %button.btn{"aria-controls" => "collapseFive_3", "aria-expanded" => "true", "data-target" => "#collapseFive_3", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapseFive_3.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionMid"}
                        .card-body
                          %h5= 'View your purchases statistics'
                          %h5= 'See how you do compared to others!'
                          %h5= 'Track your environmental impact'
                          = render 'share_icons'
                    %li
                      #headingOne.featureName.view-carbon-footprint
                        %span View
                        carbon footprint
                        %button.btn{"aria-controls" => "collapseFive_4", "aria-expanded" => "true", "data-target" => "#collapseFive_4", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapseFive_4.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionMid"}
                        .card-body
                          %h5= 'Browse your shopping like you normally do'
                          %h5= 'Find what you like'
                          %h5= 'Get greener alternatives suggested to you!'
                          = render 'share_icons'
                    %li
                      #headingOne.featureName.support-24-7
                        %span 24/7
                        Support
                        %button.btn{"aria-controls" => "collapseFive_5", "aria-expanded" => "true", "data-target" => "#collapseFive_5", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapseFive_5.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionMid"}
                        .card-body
                          %h5= 'Live chat available 24/7 (maybe a bot?)'
                          = render 'share_icons'
                / //FEATURE LIST END
                / BUTTON START
                .generic_price_btn.clearfix
                  -# %a{:href => "/newsletters/new", :vocation => "Customer"} Sign up
                  = link_to 'Sign up', new_newsletter_path(@newsletters, :type => "Customer", :tier => "Solo"), id: 'solo'
                / //BUTTON END
              / //PRICE CONTENT END
            .col-md-4
              / PRICE CONTENT START
              .generic_content.clearfix.active.ribbon-holder 
                .corner-ribbon.top-right
                  SALE
                / HEAD PRICE DETAIL START
                .generic_head_price.clearfix
                  / HEAD CONTENT START
                  .generic_head_content.clearfix
                    / HEAD START
                    .head_bg
                    .head
                      %span Family
                    / //HEAD END
                  / //HEAD CONTENT END
                  / PRICE START
                  .generic_price_tag.clearfix.height-fix
                    %span.price
                      %span.sign.strikethrough £19.99
                    %span.price
                      %span.sign £
                      %span.currency 14
                      %span.cent .99
                      %span.month /MONTH
                  / //PRICE END
                / //HEAD PRICE DETAIL END
                / FEATURE LIST START
                .generic_feature_list
                  %ul#accordionTop.accordion
                    %li
                      #headingOne.featureName
                        %span Unlimited
                        suggestions
                        %button.btn{"aria-controls" => "collapse4teen_1", "aria-expanded" => "true", "data-target" => "#collapse4teen_1", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapse4teen_1.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionTop"}
                        .card-body
                          %h5= 'Browse your shopping like you normally do'
                          %h5= 'Find what you like'
                          %h5= 'Get greener alternatives suggested to you!'
                          = render 'share_icons'
                    %li
                      #headingOne.featureName.one-click-access
                        %span One-click
                        access
                        %button.btn{"aria-controls" => "collapse4teen_2", "aria-expanded" => "true", "data-target" => "#collapse4teen_2", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapse4teen_2.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionTop"}
                        .card-body
                          %h5= 'Browse your shopping like you normally do'
                          %h5= 'Find what you like'
                          %h5= 'Get greener alternatives suggested to you!'
                          = render 'share_icons'
                    %li
                      #headingOne.featureName.family-purchase-history
                        %span Family 
                        purchase history
                        %button.btn{"aria-controls" => "collapse4teen_3", "aria-expanded" => "true", "data-target" => "#collapse4teen_3", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapse4teen_3.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionTop"}
                        .card-body
                          %h5= 'Track up to X accounts'
                          %h5= 'Be a green family'
                          = render 'share_icons'
                    %li
                      #headingOne.featureName.view-family-carbon-footprint
                        %span#headingOne View family
                        carbon footprint
                        %button.btn{"aria-controls" => "collapse4teen_4", "aria-expanded" => "true", "data-target" => "#collapse4teen_4", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapse4teen_4.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionTop"}
                        .card-body
                          %h5= 'Running out of ideas'

                          = render 'share_icons'
                    %li
                      #headingOne.featureName.support-24-7
                        %span 24/7
                        Support
                        %button.btn{"aria-controls" => "collapse4teen_5", "aria-expanded" => "true", "data-target" => "#collapse4teen_5", "data-toggle" => "collapse", :type => "button"}
                          %i.fa.fa-plus

                      #collapse4teen_5.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionTop"}
                        .card-body
                          %h5= 'Live chat available 24/7 (maybe a bot?)'
                          = render 'share_icons'
                / //FEATURE LIST END
                / BUTTON START
                .generic_price_btn.clearfix
                  -# %a{:href => "/newsletters/new", :vocation => "Customer"} Sign up
                  = link_to 'Sign up', new_newsletter_path(@newsletters, :type => "Customer", :tier => "Family"), id: 'family'
                / //BUTTON END
              / //PRICE CONTENT END
          / //BLOCK ROW END

          
