-# frozen_string_literal: true
= simple_form_for(@category) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.collection_select :parent_id , Category.all, :id, :name, required: false, include_blank: true
    = f.file_field :image

  .form-actions
    = f.button :submit
