= stylesheet_link_tag 'categories'

.container
  %h1 Find a product by category
  .row.row-cols-1.row-cols-md-4
    - @categories.each do |category|
      .col.my-3
        .card.h-100
          .card-body.d-flex.flex-column.justify-content-around.text-center
            = category.name
          .card-image
            = category.category_thumbnail
          %a.card-link.stretched-link{href: "#{category_path(category)}", 'aria-label'=>"#{category.name}"}
  %br

  - if can?(:manage, Category)
    = link_to 'New Category', new_category_path
