.container-fluid.pad-edge

  %h1.pt-5 Manage System Users
  - if flash[:alert]
    .alert=flash[:alert]

  %ul.nav.nav-tabs.mb-2
    %li.active
      = link_to 'Customers', '#customers-tab', { 'data-toggle': 'tab', class: 'btn', id: 'open-customers-tab' }
    %li
      = link_to 'Businesses', '#businesses-tab', { 'data-toggle': 'tab', class: 'btn', id: 'open-businesses-tab' }
    %li
      = link_to 'Staff', '#staff-tab', { 'data-toggle': 'tab', class: 'btn', id: 'open-staff-tab' }

  .container.tab-content
    .container.tab-pane.active#customers-tab
      %h2.d-inline Customers
      = render 'show_all_customers'

    .container.tab-pane.mb-2#businesses-tab
      %h2.d-inline Businesses
      = link_to 'Invite new business', new_business_invitation_path, class: 'btn btn-success d-inline m-4'
      = render 'show_all_businesses'

    .container.tab-pane#staff-tab
      %h2.d-inline Staff
      = link_to 'Invite new staff', new_staff_invitation_path, class: 'btn btn-success d-inline m-4'
      = render 'show_all_staff'