- content_for :title, "Materials"

.container-fluid.pad-edge
  %h1.pt-5 Listing materials

  %table.table
    %thead
      %tr
        %th Name
        %th KgCO<sub>2</sub>/Kg
        %th
        %th
        %th

    %tbody
      - @materials.each do |material|
        %tr
          %td= material.name
          %td= material.kg_co2_per_kg
          %td= link_to 'Show', material
          %td= link_to 'Edit', edit_material_path(material)
          %td= link_to 'Destroy', material, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Material', new_material_path
