-# frozen_string_literal: true

= simple_form_for(@product)do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :mass
    = f.input :price
    = f.input :category
    = f.input :url
    = f.input :manufacturer
    = f.input :manufacturer_country
    = f.file_field :image


  .d-flex.align-items-center.materials-section
    .flex-fill
      %h3 Materials
      #materials
        = f.simple_fields_for :products_material do |products_material|
          = render 'products_material_fields', :f => products_material
        = link_to_add_association 'Add Material', f, :products_material
    .flex-fill
      .div
        %h4 Your materials should add up to 100%, missing: 
        %h3#sum 0


  %br
  .form-actions
    .btn= f.button :submit
 
