.col-3
    .card.m-5.bg-none
        .card-body.d-flex.flex-column.justify-content-around
            - if p.image.attached?
                %img= image_tag(p.image, 'class' => 'card-img-top')
            - else
                %img= image_tag("default-image.jpg", 'class' => 'card-img-top')

            %h4.card-title.align-self-center.pt-1= p.name
            %h6.card-subtitle.align-self-center.pt-1= p.price_with_currency
            %h6.card-text-left.align-self-center.pt-1= p.co2_produced_with_unit
            %a.card-link.stretched-link{:href=>"#{product_path(p)}"}