= stylesheet_link_tag 'products'
.container-fluid.pad-edge
  %h1.pt-5
    - if not params[:search_term].blank? 
      Listing products related to 
      = "'" + params["search_term"] + "'"
      -# = link_to 'Reset', products_path, class: 'col-form-label px-2'
    - else 
      Product Archive

  .d-flex.flex-row.pb-3
    .me-auto.my-auto
      %h2.my-auto
        = page_entries_info products, :model => 'product'

    - if products.size > 0
      = form_with url: products_path, method: :get do |form|
        .input-group
          = form.label 'Sort by', class: 'col-form-label px-2'
          = form.select :sort_by, Product.attribute_names, :selected => params[:sort_by]
          = form.select :order_by, ['descending', 'ascending'], :selected => params[:order_by]
          = form.hidden_field :search_term, value: params[:search_term]
          %button{:type => "submit", :class => "btn btn-primary"}
            Apply

  %hr

  .products.w-100
    - products.each do |product| 
      = render partial: 'product', locals: {p: product.decorate}
   
  %br

  .justify-content-center.pagination
    = will_paginate(products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)


  - if can?(:new, Product)
    = link_to 'New Product', new_product_path
