%h1 Listing products

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Mass
      %th Category
      %th Url
      %th Manufacturer
      %th Manufacturer country
      %th Co2 produced
      %th Materials
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= product.mass
        %td= product.category
        %td= product.url
        %td= product.manufacturer
        %td= product.manufacturer_country
        %td= product.co2_produced
        - product.materials.each do |material|
          %td= material.name
          //%td= material[1]
        %td= link_to 'Show', product
        - if can?(:edit, Product)
          %td= link_to 'Edit', edit_product_path(product)
        - if can?(:delete, Product)
          %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if can?(:new, Product)
  = link_to 'New Product', new_product_path
