.container-fluid.pad-edge
  %h1.pt-5
    - if not params[:search_term].blank? 
      Listing products related to 
      = "'" + params["search_term"] + "'"
      -# = link_to 'Reset', products_path, class: 'col-form-label px-2'
    - else 
      Product Archive

  .d-flex.flex-row.pb-3
    .me-auto.my-auto
      %h2.my-auto
        = page_entries_info products, :model => 'product'

    - if products.size > 0
      = form_with url: products_path, method: :get do |form|
        .input-group
          = form.label 'Sort by', class: 'col-form-label px-2'
          = form.select :sort_by, Product.attribute_names, :selected => params[:sort_by]
          = form.select :order_by, ['descending', 'ascending'], :selected => params[:order_by]
          = form.hidden_field :search_term, value: params[:search_term]
          %button{:type => "submit", :class => "btn btn-primary"}
            Apply

  -# - if products.size > 0
  %table.table
    %thead
      %tr
        %th
        %th Name
        %th Description
        %th Vendor
        %th Mass
        %th Category
        %th Url
        %th Manufacturer
        %th Manufacturer country
        %th Co2 produced
        %th Materials
        %th
        %th
        %th

    %tbody
      - products.each do |product| 
        %tr
          -# Image functionality should be moved to decorator when we make the partial
          - if product.image.attached?
            %td= image_tag(product.image.variant(resize: '100x100'))
          - else
            %td
          %td= product.name
          %td= product.description
          %td= product.business_name
          %td= product.mass
          %td= product.category
          %td= product.url
          %td= product.manufacturer
          %td= Country.new(product.manufacturer_country).common_name
          %td= product.co2_produced
          %td
            - product.materials.each do |material|
              %br= material.name
          %td= link_to 'Show', product
          - if can?(:edit, Product)
            %td= link_to 'Edit', edit_product_path(product)
          - if can?(:delete, Product)
            %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  .justify-content-center.pagination
    = will_paginate(products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)


  - if can?(:new, Product)
    = link_to 'New Product', new_product_path
