= stylesheet_link_tag 'products'
= include_gon

// Back edit and destroy buttons
#back-button.d-flex.flex-column.p-2
  = link_to ' Back', :back, {class: 'fa fa-arrow-left'}
  - if can?(:manage, Product)
    %hr
    = link_to 'Edit', edit_product_path(product)
    %hr
    = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
  - if can?(:create, ProductReport)
    %hr
    = link_to 'Report', new_product_report_path(:product_id => @product.id)


.container-fluid.pad-edge
  .pt-2
  %p#notice= notice


  .row.py-3
    .col-xl-4

      // Products Image
      .row.round-image
        %img= product.product_image
        %br

      // Buy button and price
      .offset-y.d-flex.justify-content-between
        .border.shadow-lg
          %a.btn.fa-solid.fa-cart-shopping#buy-price{:href=>product.url, text: "Buy now"}
            Buy now
            %i=fa_icon('cart-shopping')

        - if current_customer
          .border.shadow-lg
            = link_to 'Already Purchased?', new_purchase_history_path(product_id: product.id), id: 'add-to-history-button', remote: true, class: 'btn fa-solid fa-cart-shopping', data: { toggle: "modal", target: '#purchase-history-modal.modal' }

        .border.shadow-lg
          #buy-price{:style => 'font-size: 1.75em'}= product.price_with_currency
      %br

      // Description
      .row#description
        %p.collapse#descriptionText{'aria-expanded' => 'false' }= product.description
        %a.button.collapsed{'data-toggle' => 'collapse', href: '#descriptionText', 'aria-expanded' => 'false', 'aria-controls'=>'descriptionText'}
    
    .col-xl-8
      // Name and stats about the product
      .row
        .d-flex#co2_left
          .eco-stats.d-flex.flex-column.w-100
            %h1= product.name
            %h3= product.manufacturer

            %br

            %h4.center We estimate that...
            %h1.center= product.co2_produced_with_unit
            %h4.center  ...were produced in the making of this product

            %br
          // Button to expand co2 breakdown
          .flex-shrink-1
            %button.btn.h-100.shadow-none#chevron{:data-toggle=> "tooltip", title: "View a breakdown of how this value was calculated"}
              %i.fa.fa-chevron-left#chevron-icon

        // Co2 breakdown
        #co2_right
          .calculations.p-2
            %h4.text-wrap How the CO2 was calculated
            %hr
            .row.materials_calculations
              = product.materials_breakdown
              %h6.breakdown= "...roughly #{content_tag(:strong, @co2.materials_factor.round(2).to_s)} kg"
              
            %hr
            
            .row.materials_calculations
              %span
                %h6.breakdown= "Manufactured in #{content_tag(:em,product.full_country_name)}" 
            
                %h6.breakdown= "a distance of over #{content_tag(:strong, @co2.calc_distance.to_s)} km!"

                %h6.breakdown= "...roughly #{content_tag(:strong, (product.co2_produced - @co2.materials_factor).round(2))} kg"

      %br

      - if product.category.mean_co2 < product.co2_produced
        %h4 Check out these greener alternatives
        .row.overflow-scroll.suggested-products
          .d-flex.flex-no-wrap
            = product.greener_suggestions(@suggestions)

      - else
        .d-flex.justify-content-between
          %h3.text-center This product is great, you should buy it ;)
          .div
            .div
              .featureName{style: 'visibility: hidden'}= product.name
              = render 'layouts/share_icons'
        // Product statistics
        .row.pt-2.overflow-scroll
          .d-flex.cards.justify-content-between.card-deck
            .card.m-2#card1
              .align-content-center.p-2
                .card-body
                  %p.text-success.p-2.rounded.text-center Leaderboard CO2/£
                  #scrollable.masked-overflow
                    .card-text.d-flex.flex-column.list-group#leaderboard              
                      = product.leaderboard_mini
                    %p.alert-danger.p-2.rounded.text-center ... not good ...
                %img= image_tag('footprint.jpg', class: 'card-img-bottom')
            

            // How many of kg saved compared to average value
            .card.m-2#card2
              .d-flex.align-items-center.h-100
                .card-body.text-center
                  %h4 A save of
                  %h3{:style => 'font-size: 2em'}= product.difference_formatted
                  %h4 compared to similar products...
              
            //Changed it to km driven by car equivalent
            .card.m-2#card3
              .card-body.text-center.d-flex.flex-column.justify-content-center
                %h4 ...equivalent to 
                %h3= product.co2_in_car_km
                %h4 driven by car!
              %img.card-img-bottom= image_tag('carCO2.jpg')

  %hr

  // Map gets loaded on load
  .row.py-3
    .col-xl-8.col-sm-12
      #map.p-1
    .col-4
      .other-environmental-info.w-100
        // other information about product, should think of more
        %h4 Other product information
        %table.w-100
          %tr
            %td Weight:
            %td= product.mass_with_unit
          %tr
            %td Category:
            %td= product.category.name
          %tr
            %td URL:
            %td= product.url
    
  %hr
    // are we gonna have product's reviews?
    .row.py-3
      .col-12
        %h1 Reviews

#purchase-history-modal.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content