= stylesheet_link_tag 'products'
= include_gon
.container-fluid.pad-edge
  .pt-2
  %p#notice= notice


  .row.py-3
    .col-xl-4

      .row.round-image
        - if product.image.attached?
          %img= image_tag(product.image, class: 'img-fluid round-image')
        - else
          %img= image_tag("default-image.jpg", class: 'round-image')
        %br

      .offset-y.d-flex.justify-content-between
        .border.shadow-lg
          %a.btn#buy-price{:href=>product.url, text: "Buy now"}
            Buy now
            %i=fa_icon('cart-shopping')
            

        .border.shadow-lg
          #buy-price= "£" + product.price.to_s
      %br
      .row
        %p= product.description
    
    .col-xl-8
      .row
        .d-flex#co2_left
          .eco-stats.d-flex.flex-column.w-100
            %h1= product.name
            %h3= product.manufacturer

            %br

            %h4.center We estimate that...
            %h1.center= product.co2_produced.to_s + "kg of CO2"
            %h4.center  ...were produced in the making of this product

            %br
          .flex-shrink-1
            %button.btn.h-100.shadow-none#chevron{:data-toggle=> "tooltip", title: "View a breakdown of how this value was calculated"}
              %i.fa.fa-chevron-left#chevron-icon

        #co2_right
          .calculations.p-2
            %h4.text-wrap How the CO2 was calculated
            %hr
            .row.materials_calculations
              - product.products_material.each do |m|
                %h6.breakdown= m.material.name + " - " + m.percentage.to_i.to_s + "%"
              %h6.breakdown= "...roughly #{content_tag(:strong, @co2.materials_factor.round(2).to_s)} kg"
              
            %hr
            
            .row.materials_calculations
              %span
                %h6.breakdown= "Manufactured in #{content_tag(:em,Country.new(product.manufacturer_country).common_name)}" 
            
                %h6.breakdown= "a distance of over #{content_tag(:strong, @co2.calc_distance.to_s)} km!"

                %h6.breakdown= "...roughly #{content_tag(:strong, (product.co2_produced - @co2.materials_factor).round(2))} kg"

      - if product.co2_produced > 10
        %h4 Check out these greener alternatives
        .row.overflow-scroll.suggested-products
          .d-flex.flex-no-wrap
            - Product.limit(5).each do |p|
              = render 'suggested_product_card', p: p
      - else
        %h3 This product is great, you should buy it ;)
        .row
          .d-flex
            .card
              .card-header kgCO2/£
              %h3.card-body= (product.co2_produced / product.price).round(2)
            .card
              .card-header Trees saved
              %h3.card-body= 1


  %hr

  .row.py-3
    .col-8
      #map.p-1

    .col-4
      .other-environmental-info.w-100
        %h4 Other product information
        %table.w-100
          %tr
            %td Weight:
            %td= "#{product.mass.round(2)} kg"
          %tr
            %td Category:
            %td= "#{product.category}"
          %tr
            %td URL:
            %td= "#{product.url}"

    


  - if can?(:edit, Product)
    = link_to 'Edit', edit_product_path(product)
    \|
  = link_to 'Back', :back



