= stylesheet_link_tag 'products'

.container-fluid.pad-edge
  .pt-5 
  %p#notice= notice


  .row
    .col-xl-4

      .row
        - if product.image.attached?
          %img.img-fluid.rounded= image_tag product.image
        - else
          %img.img-fluid= image_tag("default-image.jpg")  
        %br
        .col.offset-8.offset-y.border
          %h3= "£" + product.price.to_s
      %br
      .row
        %p= product.description
    
    .col-xl-8
      .row
        .col-xl-9
          .eco-stats.d-flex.flex-column
            %h1= product.name
            %h3= product.manufacturer

            %br

            %h4.center We estimate that...
            %h1.center= product.co2_produced.to_s + "kg of CO2"
            %h4.center  ...were produced in the making of this product

            %br

        .col-xl-3
          .calculations.p-2
            %h4 How the CO2 was calculated
            %hr
            .row.materials_calculations
              - product.products_material.each do |m|
                %h6.breakdown= m.material.name + " - " + m.percentage.to_i.to_s + "%"
              %h6.breakdown= "...roughly #{content_tag(:strong, @co2.materials_factor.round(2).to_s)} kg"
              
            %hr
            
            .row.materials_calculations
              %span
                %h6.breakdown= "Manufactured in #{content_tag(:em,Country.new(product.manufacturer_country).common_name)}" 
            
                %h6.breakdown= "a shipping distance of over #{content_tag(:strong, @co2.calc_distance.to_s)} km!"

                %h6.breakdown= "...roughly #{content_tag(:strong, (product.co2_produced - @co2.materials_factor).round(2))} kg"


      %h4 Check out these greener alternatives
      .row.overflow-scroll.suggested-products
        .d-flex.flex-no-wrap
          - Product.limit(5).each do |p|
            = render 'suggested_product_card', p: p



  .row.py-3
    #map


  - if can?(:edit, Product)
    = link_to 'Edit', edit_product_path(product)
    \|
  = link_to 'Back', :back
