%br
%p
%h1{:style => "margin-left: 10%"} Listing reviews
%br
%table.table{:style=>"width: 80%; margin-left: auto; margin-right: auto"}
  %thead
    %tr
      %th{:style=>"text-align: center; width: 55%"} Description
      %th{:style=>"text-align: center"} Rating
      %th{:style=>"text-align: center"} Hidden
      %th{:style=>"text-align: center"} Rank
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= truncate review.description, length: 120, separator: /\w+/ 
        %td{:style=>"text-align: center"}= review.rating
        - if review.hidden
          %td{:style=>"text-align: center"}= "Yes"
        - else
          %td{:style=>"text-align: center"}= "No"        
        %td{:style=>"text-align: center"}= review.rank
        %td= button_to "Show", review, method: :get
        %td= button_to "Edit", edit_review_path(review), method: :get
        %td= button_to "Delete", review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
