.container-fluid.pad-edge.pt-5

  %p#notice= notice

  %p
    %b Description:
    = @review.description
  %p
    %b Rating:
    = @review.rating
  %p
    %b Hidden:
    = @review.hidden
  %p
    %b Rank:
    = @review.rank

  %table
    %tbody
      %tr
        %td{:style => "padding-right: 20px"}= button_to "Edit", edit_review_path(@review), method: :get
        %td= button_to "Back", reviews_path, method: :get
