%header.p-2.border-bottom.custom-nav
  .container-fluid.pad-edge
    .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
      %a.d-flex.align-items-center.mb-2.mr-5.mb-lg-0.text-decoration-none{:href => "/"}
        %img{:alt => "mdo", :height => "48", :src => "/images/logo.png", :width => "160"}
      .nav.col-12.col-lg-auto.me-lg-auto.justify-content-center.my-auto.mx-5.custom-nav-fonts
        %li
          = link_to 'Home', root_path, title: 'Go to the home page', class: 'nav-link px-2 link-secondary'
        %li
          = link_to 'FAQs', faqs_path, class: 'nav-link px-2', title: 'Frequently asked questions'
        - if can?(:read, :metrics)
          %li
            = link_to 'Metrics', metrics_path, class: 'nav-link px-2', title: 'Site metrics'
        - if can?(:manage, Review)
          %li
            = link_to 'Manage Reviews', reviews_path, class: 'nav-link px-2', title: 'Manage reviews'
        - if can?(:manage, Staff)
          %li
            = link_to 'Manage Users', admin_users_path, class: 'nav-link px-2', title: 'Manage accounts'
        - if can?(:manage, Newsletter)
          %li
            = link_to 'Manage Newsletters', newsletters_path, class: 'nav-link px-2', title: 'Manage newsletters'
      .dropdown.text-end
        %a#dropdownUser1.d-block.custom-nav-fonts.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"}
          -if customer_signed_in?
            #{current_customer.email}
            %img.rounded-circle.filter-white{:alt => "user icon", :height => "32", :src => "/images/person.svg", :width => "32"}
          -elsif business_signed_in?
            #{current_business.email}
            %img.rounded-circle.filter-white{:alt => "user icon", :height => "32", :src => "/images/person.svg", :width => "32"}
          -elsif staff_signed_in?
            #{current_staff.email}
            %img.rounded-circle.filter-white{:alt => "user icon", :height => "32", :src => "/images/person.svg", :width => "32"}
          -else
            Account
        %ul.dropdown-menu.text-small{"aria-labelledby" => "dropdownUser1"}
          -if customer_signed_in?
            = render partial: 'layouts/customer_nav_dropdown'

          -elsif business_signed_in?
            = render partial: 'layouts/business_nav_dropdown'

          -elsif staff_signed_in?
            = render partial: 'layouts/staff_nav_dropdown'

          -else
            %li
              = link_to 'Sign In', new_customer_session_path, method: :post, :class => "dropdown-link"