!!!
%html
  %head
    %title #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_pack_tag    "styles", media: :all
    = stylesheet_link_tag    "application", media: :all
    = javascript_pack_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body.bg-light

    %header.p-2.border-bottom.custom-nav
      .container-fluid.pad-edge
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          %a.d-flex.align-items-center.mb-2.mr-5.mb-lg-0.text-decoration-none{:href => "/"}
            %img{:alt => "mdo", :height => "48", :src => "/images/logo.png", :width => "160"}
          .nav.col-12.col-lg-auto.me-lg-auto.justify-content-center.my-auto.mx-5.custom-nav-fonts
            -#   = link_to 'Home', root_path, title: 'Go to the home page', class: 'nav-link px-2 link-secondary'
            %li
              = link_to 'Home', root_path, title: 'Go to the home page', class: 'nav-link px-2 link-secondary'
            %li
              %a.nav-link.px-2.ml-5{:href => "/faqs"} FAQs
            - if can?(:manage, Review)
              %li
                %a.nav-link.px-2.link-dark{:href => "/reviews"} Reviews
            -# Hide unless user is admin
            - if can?(:manage, :metrics)
              %li
                %a.nav-link.px-2{:href => "/metrics"} Metrics
            - if can?(:manage, Newsletter)
              %li
                %a.nav-link.px-2{:href => "/newsletters"} Newsletters
          -# %form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3
          -#   %input.form-control{"aria-label" => "Search", :placeholder => "Search...", :type => "search"}
          .dropdown.text-end
            %a#dropdownUser1.d-block.custom-nav-fonts.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"}
              -# %img.rounded-circle{:alt => "mdo", :height => "32", :src => "https://github.com/epigenesys.png", :width => "32"}
              -if user_signed_in?
                #{current_user.email}
                %img.rounded-circle.filter-white{:alt => "user icon", :height => "32", :src => "/images/person.svg", :width => "32"}
              -else
                Account
            %ul.dropdown-menu.text-small{"aria-labelledby" => "dropdownUser1", :style => ""}
              -if user_signed_in?
                %li
                  = link_to 'Profile', users_show_path, :class => 'dropdown-link'
                  -# %a.dropdown-item{:href => users_show_path} Profile
                %li
                  %hr.dropdown-divider
                %li
                  = link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "dropdown-link"
                
              -else
                %li
                  = link_to 'Sign In', new_user_session_path, method: :post, :class => "dropdown-link"
              

    /.flash-messages
    /  - flash.each do |name, msg|
    /    - next unless name == 'alert' || name == 'notice'
    /    .alert.fade.in
    /      .container
    /        = msg
    /        %a{ href: '#', title: 'Hide this message', data: { bs_dismiss: :alert } } Dismiss

    %main
      - if !notice.nil? then
        .alert.alert-secondary#notice= notice
      = yield



    %footer.mt-auto.my-5.pt-5.text-muted.text-center.text-small.custom-footer
      %p.mb-1 &copy; Team 4 #{Date.today.year}
      %ul.list-inline
        %li.list-inline-item
          = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Go to the epiGenesys website'
        %li.list-inline-item
          %a{:href => "#"} Terms
        %li.list-inline-item
          %a{:href => "#"} Support

