!!!
%html
  %head
    %title #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_pack_tag    "styles", media: :all
    = stylesheet_link_tag    "application", media: :all
    = javascript_pack_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body.bg-light
    -# = render 'layouts/svg_logo'

    %header.p-2.border-bottom.custom-nav
      .container-fluid.pad-edge
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          %a.d-flex.align-items-center.mb-2.mr-5.mb-lg-0.text-dark.text-decoration-none{:href => "/"}
            %img{:alt => "mdo", :height => "48", :src => "../images/logo.png", :width => "160"}
          .nav.col-12.col-lg-auto.me-lg-auto.justify-content-center.my-auto.mx-5
            -#   = link_to 'Home', root_path, title: 'Go to the home page', class: 'nav-link px-2 link-secondary'
            %li
              %a.nav-link.px-2.link-dark{:href => "#"} Reviews
            %li
              %a.nav-link.px-2.ml-5.link-dark{:href => "/faqs"} FAQs
            -# Hide unless user is admin
            %li
              %a.nav-link.px-2.link-dark{:href => "/metrics"} Metrics
          -# %form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3
          -#   %input.form-control{"aria-label" => "Search", :placeholder => "Search...", :type => "search"}
          .dropdown.text-end
            %a#dropdownUser1.d-block.link-dark.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"}
              -# %img.rounded-circle{:alt => "mdo", :height => "32", :src => "https://github.com/epigenesys.png", :width => "32"}
              Log in
            %ul.dropdown-menu.text-small{"aria-labelledby" => "dropdownUser1", :style => ""}
              -if user_signed_in?
                %li
                  %a.dropdown-item{:href => users_show_path} Profile
                %li
                  %hr.dropdown-divider
                %li
                  = link_to 'Sign Out', destroy_user_session_path, method: :delete
                
              -else
                %li
                  = link_to 'Sign In', new_user_session_path, method: :post
              

    /.flash-messages
    /  - flash.each do |name, msg|
    /    - next unless name == 'alert' || name == 'notice'
    /    .alert.fade.in
    /      .container
    /        = msg
    /        %a{ href: '#', title: 'Hide this message', data: { bs_dismiss: :alert } } Dismiss

    %main
      = yield



    %footer.mt-auto.my-5.pt-5.text-muted.text-center.text-small.custom-footer
      %p.mb-1 &copy; Team 4 #{Date.today.year}
      %ul.list-inline
        %li.list-inline-item
          = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Go to the epiGenesys website'
        %li.list-inline-item
          %a{:href => "#"} Terms
        %li.list-inline-item
          %a{:href => "#"} Support

